@font-face {
    font-family: "Lunasima";
    src: url(/assets/Lunasima-Regular.ttf);
}

:root {
    --neat-orange: rgb(243, 119, 72);
    --awesome-yellow: rgb(236, 234, 11);
    --off-white: rgb(229, 240, 242);
    --shadow: rgb(187, 195, 196);
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    font-family: "Lunasima", sans-serif;
}

li {
    list-style-type: none;
}

img[src$=".svg"] {
    height: 25px;
    width: 25px;
    fill: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 165px 1fr;
}

.sidebar {
    background-color: var(--neat-orange);
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    padding: 20px;
}

.logo {
    display: flex;
}

.logo-icon>img {
    height: 40px;
    width: 40px;
}

.sidebar>ul {
    display: grid;
    grid-template-columns: 40px 3fr;
}

.logo-icon,
.sidebar-icon {
    align-self: center;
    justify-self: center;
}

.logo-text,
.sidebar-text {
    align-self: center;
    padding-left: 10px;
}

.header {
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    z-index: 1;
    box-shadow: 2px 2px 10px var(--shadow);
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}


input {
    width: 600px;
    height: 20px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: var(--off-white)
}

.nav-right {
    gap: 10px;
}

.nav-icon img,
.trending-icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-icon img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-left {
    align-items: center;
}

.nav-right,
.profile-left {
    display: flex;
}

.profile-right {
    display: flex;
    gap: 20px;
}

button {
    background-color: var(--neat-orange);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.main-content {
    background-color: var(--off-white);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 369px 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.absolute {
    position: absolute;
    font-weight: bold;
}

.projects {
    grid-row: 1/3;
    padding-left: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background: linear-gradient(
        to right,
        var(--awesome-yellow) 3%,
        white 3%);
    height: 182px;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 10px;
}

.card-icon-container {
    display: flex;
    justify-content: right;
}

.announcements-container {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 10px;
}

.tab {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 82px;
}

.tab:first-child {
    margin-top: 20px;
}

.tab:last-child {
    margin-bottom: 20px;
}

.trending-container {
    display: grid;
    grid-template-columns: 50px 2fr;
    background-color: white;
    margin-top: 2rem;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 2px 10px var(--shadow);
    border-radius: 10px;
}

.trending-text {
    align-self: center;
}

.card-container {
    padding-top: 2rem;
}