* {
    margin: 0;
    padding: 0;
}

body {
    height: 50vh;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}

.sidebar > div, ul {
    border: 1px solid red;
}

.sidebar-container-top, .sidebar-container-bottom {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon img, .trending-icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-icon img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.nav-right, .profile-left {
    display: flex;
}

.main-content {
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}