@font-face {
    font-family: "Lunasima";
    src: url(/assets/Lunasima-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    padding: 10px;
    font-family: "Lunasima", sans-serif;
}

li {
    list-style-type: none;
}

img[src$=".svg"] {
    height: 25px;
    width: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 125px 1fr;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
}

.logo {
    display: flex;
}

.logo-icon > img {
    height: 40px;
    width: 40px;
}

.sidebar > ul {
    display: grid;
    grid-template-columns: 40px 3fr;
}

.logo-icon, .sidebar-icon {
    align-self: center;
    justify-self: center;
}

.logo-text, .sidebar-text {
    align-self: center;
    padding-left: 10px;
}

.header {
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    padding-left: 50px;
    padding-right: 50px;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-icon img, .trending-icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-icon img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-left {
    align-items: center;
}

.nav-right, .profile-left {
    display: flex;
}

input {
    width: 600px;
    border-radius: 10px;
}

.main-content {
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 300px 1fr;
    gap: 20px;
    padding-top: 20px;
}

.absolute {
    position: absolute;
    font-weight: bold;
}

.projects {
    grid-row: 1/3;
    padding-left: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
}

.card-icon-container {
    display: flex;
    justify-content: right;
}

.announcements-container {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    background-color: white;
    margin-top: 35px;
}

.tab {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 60px;
}

.tab:first-child {
    margin-top: 20px;
}

.tab:last-child {
    margin-bottom: 20px;
}

.trending-container {
    display: grid;
    grid-template-columns: 50px 2fr;
}

.card-container, 
.trending-container {
    padding-top: 2rem;
}